
    /*
  .cardo-regular {
    font-family: "Cardo", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .cardo-bold {
    font-family: "Cardo", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .cardo-regular-italic {
    font-family: "Cardo", serif;
    font-weight: 400;
    font-style: italic;
  }

  
  .source-sans-regular {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  .source-sans-bold {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  
  .source-sans-light {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

  font-weight: 100;  Thin 
  font-weight: 200; /* Extra Light 
  font-weight: 300; /* Light 
  font-weight: 400; /* Normal / Regular 
  font-weight: 500; /* Medium 
  font-weight: 600; /* Semi Bold 
  font-weight: 700; /* Bold 
  font-weight: 800; /* Extra Bold 
  font-weight: 900; /* Black / Ultra Bold 

*/

  
  
   
/*stuff for nav*/

.navbar-toggler {
  display: block !important;
} 


.navbar-section nav {
  background-color: #FFF9F1;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1); 
  position: fixed;
  top: 0;
  width: 100%;
  /* z-index: 1000; */
  font-family: "Cardo", serif;
  font-weight: 800;
}



.navbar-section nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.navbar-section nav li {
  height: 50px;
}

.navbar-section nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}

.navbar-section nav a:hover {
  background-color: #f0f0f0;
}

.navbar-section nav li:first-child {
  margin-right: auto;
}

.navbar-section .sidebar {
  position: fixed;
  top: 0; 
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.navbar-section .sidebar li {
  width: 100%;

}

.navbar-section .sidebar a {
  width: 100%;
}

.navbar-section .menu-button {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 24px;
  margin-left: 10px; 
}


.navbar-section .navbar-brand {
  font-family: 'Cardo', serif;
  font-weight: 800;
  color: black !important;
}

.navbar-section .dropdown-item {
  padding: 0.5rem 1.5rem;
  color: black;
  font-family: 'Cardo', serif;
  font-weight: 800;
  font-size: 1rem;
}

.navbar-section .dropdown-item:hover {
  background-color: #f0f0f0;
}


.btn.custom-btn {
  background-color: #A70303 !important;
  color: white !important;
  padding: 0 15px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  border: none;
  font-family: 'Cardo', serif;
  font-weight: 800;
  border-radius: 0;
  margin-right: 30px;
 
}

.btn.custom-btn:hover {
  background-color: #4F0808 !important;
}


.offcanvas-backdrop {
  background-color: rgb(0, 0, 0, 1) !important; /* Less dark */
}


/*END for stuff for nav*/





/*------------------------------------------------------------------------------------*/

/*stuff for footer*/
.footer-col.nav-col {
  width: 25%; 
}

.footer-col:not(.nav-col) {
  width: 37.5%; 
}

.footer-col.pad-left-col {
  padding-left: 130px; 
}



footer {
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  background-color: #17395C; 
  padding: 30px 3%;
  box-sizing: border-box;
}

.footer-col {
  width: 33.33%; 
  padding: 0 5px;
  box-sizing: border-box;
}

footer h1 {
  font-family: "Cardo", serif;
  font-weight: 900;
  color: #EFB758;
  font-size: 30px;
}

footer p {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #EFB758;
}


footer ul {
    list-style: none;
}



.footer-col h4 {
  position: relative;
  font-family: "Cardo", serif;
  font-weight: 900;
  font-size: 18px;
  color: #EFB758;
}

footer ul li:not(:last-child) {
    margin-bottom: 8px;
}

footer ul li a {
  display: block;
  color: #EFB758; 
  text-decoration: none;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

footer li a:hover {
    color: #f1bc0d;
    background-color: rgba(40, 130, 214, 0.2);
}


footer .links a:hover {
    color: #4d4f55;
    background-color: white;
}


footer .nav-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    gap: 4px 0;
}

footer .nav-list li {
    width: 50%;
    box-sizing: border-box;
    margin-bottom: 4px;
}

.feedback-icon path {
  stroke: #EFB758;   
  stroke-width: 4.5;  
}

.email-icon path {
  stroke: #EFB758;
  
}

 /*END for stuff for footer*/
/*------------------------------------------------------------------------------------*/

/*when the screen width is getting small*/
@media(max-width: 800px){

  .navbar-section .menu-button {
    font-size: 30px; 
    padding: 15px; 
  }

 
  .navbar-section .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(12px);
    display: none;
    flex-direction: column;
  }

  .hideOnMobile{
    display: none;
  } /*nav stuff*/

  footer {
    padding: 30px 5%;
  }

  .row {
    flex-direction: column !important;
  }

  .footer-col {
    width: 100% !important;
    margin-bottom: 30px;
    text-align: center;
    padding-left: 0 !important;
  }

  .footer-col .nav-list {
    justify-content: center;
  }

  .footer-col h1 {
    font-size: 24px;
  }



}
@media(max-width: 500px){
  .navbar-section .sidebar{
    width: 100%;
  }

  .navbar-section .menu-button {
    font-size: 30px;
    padding: 15px; 
  }

  
}
