*{
  margin: 0;
  padding: 0;
}
  body{
    background-color: #FFF9F1;
    padding-top: 55px;
    min-height: 100vh;
 
  }

  .cardo-regular {
    font-family: "Cardo", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .cardo-bold {
    font-family: "Cardo", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .cardo-regular-italic {
    font-family: "Cardo", serif;
    font-weight: 400;
    font-style: italic;
  }

  
  .source-sans-regular {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  .source-sans-bold {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  
  .source-sans-light {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }


  
  .fixed-caption-carousel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    color: #E5C692;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 6px 6px #000;
    font-family: "Cardo", serif;
    font-weight: 800;
    font-size: 50px;
  }
  .carousel {
    position: relative;
  }

  @media (max-width: 800px) {
    .fixed-caption-carousel {
      font-size: 40px; 
    }
  }
  
  @media (max-width: 500px) {
    .fixed-caption-carousel {
      font-size: 30px; 
    }
  }

   /* Tourist spot of the month */

  .featured-spot {
    display: flex; /* Use flexbox for side-by-side layout */
    align-items: center; /* Vertically center items */
    gap: 20px; /* Space between text and image */
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px 0;
    background-color: #f9f9f9;
    text-align: left; /* Left-align the text */
}
.featured-spot h2 {
  color: #ca3030;
  margin-bottom: 10px;
}

.featured-spot h3 {
  color: #6e6e6e;
  margin-bottom: 15px;
}
.spot-content {
    flex: 1; /* Take up available space */
}

.spot-image {
    flex: 0 0 auto; /* Don't grow or shrink */
}

.spot-image img {
    max-width: 200px; /* Adjust image size as needed */
    height: auto;
    border-radius: 4px;
}

.more-info {
    display: inline-block;
    padding: 8px 15px;
    background-color: #e1b243;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 10px;
}

.more-info:hover {
    background-color: #e3a516;
}